.card {
  padding: .5rem 1rem;
  border: 1px dashed #ccc;
  margin-bottom: 1rem;

  h2 {
    margin-bottom: .5rem;
  }
}

.text {
  font-size: 20px;
  font-weight: bold;

  &.red {
    color: red;
  }

  &.green {
    color: green;
  }

  &.blue {
    color: blue;
  }
}
